/* Set guild assigned colors in mapZone.js */
:root {
	--guild0-color: #FFFFFF;
	--guild1-color: #FFFFFF;
	--guild2-color: #FFFFFF;
	--guild3-color: #FFFFFF;
	--guild4-color: #FFFFFF;
	--guild5-color: #FFFFFF;
	--guild6-color: #FFFFFF;
	--guild7-color: #FFFFFF;
}

html {
	height: 100%;
}

body {
	background-color: rgba(16, 64, 13, 1);
	height: 100%;
}

.bg-cover {
	background-size: cover !important;
	background-color: rgba(16, 64, 13, 1);
	/*background: url("../css/bg-xsmall.png") no-repeat center fixed;*/
}
.header {
	background-color:  rgba(16, 64, 13, 0.5);
	color: #FFFFFF;
	padding: 20px;
	/*padding-top: 10px;
	padding-bottom: 10px;*/
}

#main {
	/*min-width: 50vw;*/
	/*max-width: 40vw;*/
}

.input-group button {
	width: 60px;
}

.dropdown-menu {
	max-height: 200px;
  overflow-y: auto;
}

#scroll_dropmenu {
	min-width: 300px;
}


#map {
	min-height: 0; /* to enable flex on firefox */
	padding: 20px;
}

/* Navigation */
#nav {
	color: #FFFFFF;
	/*padding: 10px;*/
	/*max-width: 750px;*/
	opacity: 0.5;
}

#label-section {
	border-right: 1px solid white;
}

#label-zone {
	font-weight: 600;
}

#owner-section tr td{
  padding: 0.5px !important;
  margin: 0 !important;
}

#buildings-section {
	height: 120px;
}

#buildings {
	padding: 0;
	margin:  0;
}

.swatch {
	fill-opacity: 0.8;
}
.swatch.js-hover {
	fill-opacity: 1;
}
.swatch-active {
	stroke-width: .1rem;
	stroke: white;
}

.build {
	padding: 20px;
}

.siege-camp {
	content:url("../css/siege_camp.png");
	width: 80px;
	padding: 0;
}
.watchtower {
	content: url("../css/watchtower.png");
	width: 80px;
	padding: 0;
}


/* SVG map properties */
.map-zone {
	fill: white;
	stroke: #d6d6d6;
	stroke-width: .1rem;
}

.guild0 {
	fill: var(--guild0-color);
}
.guild0.guild {
	stroke: var(--guild0-color);
}

.guild1 {
	fill: var(--guild1-color);
}
.guild1.guild {
	stroke: var(--guild1-color);
}

.guild2 {
	fill: var(--guild2-color);
}
.guild2.guild {
	stroke: var(--guild2-color);
}

.guild2 {
	fill: var(--guild2-color);
}
.guild2.guild {
	stroke: var(--guild2-color);
}

.guild3 {
	fill: var(--guild3-color);
}
.guild3.guild {
	stroke: var(--guild3-color);
}

.guild4 {
	fill: var(--guild4-color);
}
.guild4.guild {
	stroke: var(--guild4-color);
}

.guild5 {
	fill: var(--guild5-color);
}
.guild5.guild {
	stroke: var(--guild5-color);
}

.guild6 {
	fill: var(--guild6-color);
}
.guild6.guild {
	stroke: var(--guild6-color);
}

.guild7 {
	fill: var(--guild7-color);
}
.guild7.guild {
	stroke: var(--guild7-color);
}

.province {
	fill-opacity: 0.1;
}
.province:not(.owner) {
	fill-opacity: 0.6;
}
.province.lock {
	fill-opacity: 0.1;
	stroke-width: 0rem;
}
.province.lock:not(.owner) {
	fill-opacity: 0.5;
	stroke-width: 0;
}
.province.highlight:not(.owner) {
	fill-opacity: 0.7;
}
.province.js-hover {
	fill-opacity: 0.3;
}
.province.js-hover:not(.owner) {
	fill-opacity: 0.8;
}
.province.js-active {
	fill-opacity: 0.3;
	stroke-width: 0.3rem;
}
.province.js-active:not(.owner) {
	fill-opacity: 0.8;
	stroke-width: 0.3rem;
}

.guild {
	fill-opacity: 0.8;
}
.guild.js-hover {
	fill-opacity: 1;
}
.guild.lock {
	fill-opacity: 0.5;
}

.footer {
	background-color:  rgba(7, 52, 4, 0.8);
	color: #FFFFFF;
}

#img-logo {
	max-width: 300px;
}

#img-crest {
	max-width: 80px;
}

#button_section {
	min-width: 50px;
}

/*h2 {
	padding-bottom: 10px;
}

h4 {
	padding-top: 5px;
}*/


p, h2, h4 {
	color:  #FFFFFF;
}

a {
	color: #bcdce9;
}

a:hover {
	color: #88ebb2;
}

